.cart-item {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;

  img {
    width: 100px;
  }

  .col {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cart-list-h1-text-color);
    transition: color 300ms ease;

    font-family: Belleza;
    font-size: 30px;
    font-weight: bold;
  }

  .InputNumber {
    height: fit-content;
  }
}
