.OrdersList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--order-list-border);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;

  .order-item {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    color: var(--cart-list-h1-text-color);

    div {
      max-width: 245px;
    }

    .items {
      border: var(--order-list-items-border);
      border-radius: 10px;
      margin-bottom: 5px;

      .item {
        display: flex;
        padding: 5px;

        .props {
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .Price {
          width: 100px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
