body::-webkit-scrollbar {
  width: 7px;
}
.bogy {
  transition: background-color 200ms linear;
}

body::-webkit-scrollbar-track {
  background: #fff; 
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(113, 124, 228);
  border-radius: 20px;
}
